@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

$utilities: map-merge(
    $utilities: (
        "padding": (
            responsive: true,
            property: padding,
            class: p,
            values: $spacers
        ),
    )
);

@import "bootstrap/scss/utilities/api";