.footer-logo {
  max-height: 30px;
  width: auto;
}
// set the primary color before importing bootstrap
$primary: rgb(0, 122, 125);
@import "../node_modules/bootstrap/scss/bootstrap";

.custom-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.custom-card-img {
  max-height: 200px;
  object-fit: cover;
  width: 100%;
}

.blur {
  backdrop-filter: blur(10px);
}

.centered {
  transform: translateX(calc(50vw - 50%));
}

textarea {
    resize: none;
}

.question-description,
.article-text {   
    height: 300px;
}

.abstract {
    height: 150px;
}
